<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/bootstrap.css">
    <style>
        .container-fluid {
            border-bottom: 1px solid grey;
        }

        .container div a {
            display: block;
            height: 100%;
            /* border: 1px solid red; */
        }

        .container div span {
            position: absolute;
            line-height: 100%;
            font-size: 18px;
            left: 110px;
            bottom: -40px;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <ul class="nav nav-pills">
            <li role="presentation">
                <a href="#">小小相册</a>
            </li>
            <li role="presentation">
                <a href="#">全部相册</a>
            </li>
            <li role="presentation">
                <a href="#">上传</a>
            </li>
        </ul>
    </div>
    <div class="container">
        
            <div class="col-md-3">
                <a  href="小狗" class="thumbnail">
                    <img src="../public/images/wjj.jpg" width="100%">
                </a>
                <span>
                    小狗
                </span>
            </div>
        
            <div class="col-md-3">
                <a  href="小猫" class="thumbnail">
                    <img src="../public/images/wjj.jpg" width="100%">
                </a>
                <span>
                    小猫
                </span>
            </div>
        
            <div class="col-md-3">
                <a  href="小强" class="thumbnail">
                    <img src="../public/images/wjj.jpg" width="100%">
                </a>
                <span>
                    小强
                </span>
            </div>
        
    </div>






    <script src="../public/js/jquery-3.2.1"></script>
    <script src="../public/js/bootstrap"></script>
</body>

</html>