<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <style>
        .container-fluid {
            border-bottom: 1px solid grey;
        }

        

        .container div span {
            display: block;
            text-align: center;
            line-height: 100%;
            font-size: 18px;
        }

        #demo {
            background: #f5f5f5;
            display: block;
            height: 40px;
            margin: 20px 0px;
            line-height: 40px;
            padding-left: 20px;
        }

        #demo+span {
            position: relative;
            left: 85px;
            top: -50px;
            color: #777777;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <ul class="nav nav-pills">
            <li role="presentation">
                <a href="#">小小相册</a>
            </li>
            <li role="presentation">
                <a href="#">全部相册</a>
            </li>
            <li role="presentation">
                <a href="#">上传</a>
            </li>
        </ul>
    </div>
    <div class="container">
        <div id="demo">
            <a href="/" >全部相册</a>
        </div>
        <span>/&nbsp;&nbsp;&nbsp;
            <%= albumName%>
        </span>
    </div>
    <div class="container">
        <% for(let i=0;i<images.length;i++) { %>
            <div class="col-md-3">
                <a href="#" class="thumbnail">
                    <img src="<%= images[i] %>">
                </a>
            </div>
            <% } %>
    </div>

    <script src="/js/jquery-3.2.1.js"></script>
    <script src="/js/bootstrap.js"></script>
</body>

</html>