<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <style>
        .container-fluid {
            border-bottom: 1px solid grey;
        }

        .container div a {
            display: block;
            height: 100%;
            /* border: 1px solid red; */
        }

        .container div span {
            display: block;
            text-align: center;
            line-height: 100%;
            font-size: 18px;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <ul class="nav nav-pills">
            <li role="presentation">
                <a href="#">小小相册</a>
            </li>
            <li role="presentation">
                <a href="#">全部相册</a>
            </li>
            <li role="presentation">
                <a href="#">上传</a>
            </li>
        </ul>
    </div>
    <div class="container">
        <img src="/images/404.jpg" alt="">
    </div>
    <script src="/js/jquery-3.2.1"></script>
    <script src="/js/bootstrap"></script>
</body>

</html>